body{

background:#111;
color:white;

font-family:Arial;

text-align:center;

}


h1{

color:#ffd700;

}


.camera-box{

width:95%;

max-width:600px;

margin:auto;

border:3px solid white;

border-radius:15px;

overflow:hidden;

}


video{

width:100%;

}


canvas{

display:none;

}


.panel{

margin-top:20px;

font-size:24px;

}


#card{

color:#00ff88;

font-size:32px;

}
